force-app/main/default/flows/Block_SA_Completion_Missing_WOLI_Notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Blocks Service Appointment completion when: (1) no WOLIs exist on the Work Order, or (2) all WOLIs are missing Work Performed notes (Service_Notes__c).</description>
    <environments>Default</environments>
    <interviewLabel>Block SA Completion - Missing WOLI Notes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Block SA Completion - Missing WOLI Notes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_WOLIs</targetReference>
        </connector>
        <description>Checks if any WOLI exists on the parent Work Order</description>
        <filterLogic>1</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <label>Get Any WOLI</label>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <name>Get_Any_WOLI</name>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Missing_Notes</targetReference>
        </connector>
        <description>Looks up WOLIs on the parent WorkOrder that are missing Work Performed notes</description>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Notes__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Notes__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>""</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <label>Get Missing WOLIs</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <name>Get_Missing_WOLIs</name>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <defaultConnector>
            <targetReference>Get_Missing_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasWOLIs</defaultConnectorLabel>
        <label>Any WOLI Exists?</label>
        <locationX>200</locationX>
        <locationY>0</locationY>
        <name>Has_WOLIs</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Any_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_WOLI_Error</targetReference>
            </connector>
            <label>NoWOLI</label>
            <name>NoWOLI</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnectorLabel>AllHaveNotes</defaultConnectorLabel>
        <label>Missing Work Performed Notes?</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <name>Missing_Notes</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Missing_WOLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Notes_Error</targetReference>
            </connector>
            <label>HasMissing</label>
            <name>HasMissing</name>
        </rules>
    </decisions>
    <customErrors>
        <customErrorMessages>
            <errorMessage>Cannot complete this Service Appointment. No Work Order Line Items exist for this Work Order. Please create a line item and add Work Performed notes before completing.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
        <label>No WOLI Error</label>
        <locationX>200</locationX>
        <locationY>100</locationY>
        <name>No_WOLI_Error</name>
    </customErrors>
    <customErrors>
        <customErrorMessages>
            <errorMessage>Cannot complete this Service Appointment. One or more Work Order Line Items are missing &quot;Work Performed&quot; notes. Please update all line items before completing.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
        <label>Missing Work Performed Notes</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <name>Missing_Notes_Error</name>
    </customErrors>
    <start>
        <connector>
            <targetReference>Get_Any_WOLI</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>